<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" UpgradeCode="{19FCA64D-BB28-42EF-9513-FCCD51B6FECA}" Version="1.0.0.0" Language="1033"
           Name="WinGists" Manufacturer="hschroedl">
    <Package InstallerVersion="300" Compressed="yes" />
    <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />
    <Icon Id="ProductIcon" SourceFile="TaskbarIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPURLINFOABOUT" Value="http://www.github.com/hschroedl" />

    <!--Define UI Stuffs-->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <!--Define Directory Structure-->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="WinGists" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="WinGists" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>


    <!--Define component start menu entry-->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuComponent" Guid="{4A613123-6220-4344-9F95-3488AB129AE5}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="WinGists"
                  Description="Start WinGists Configuration"
                  Target="[#WinGistsConfiguration.exe]" WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\hschroedl\WinGists" Name="installed" Type="integer" Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!--Define desktop shortcut-->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopComponent" Guid="{5B2BCB43-42EA-4749-816B-2ACB1029691E}">
        <Shortcut Id="DesktopShortcut" Name="WinGists"
                 Description="Start WinGists Configuration"
                 Target="[#WinGistsConfiguration.exe]" WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\hschroedl\WinGists" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!--Define context menu entry -->
    <DirectoryRef Id="TARGETDIR">
      <Component Id="ContextMenuShortcut" Guid="{11AC8A06-39C4-4AC1-A479-F89970337451}">
        <RegistryKey Root="HKCR" Key="*\shell\WinGists\Command" Action="createAndRemoveOnUninstall">
          <RegistryValue Action="write" Type="string" Value="[#Uploader.exe] '%1'"></RegistryValue>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!--Define component application-->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Application" Guid="{08AE0D58-CB39-4BC7-A8F2-44597715054E}">
        <File Id="Uploader.exe" Source="$(var.Uploader.TargetPath)" KeyPath="yes" />
        <File Id="WinGistsConfiguration.exe" Source="$(var.WinGistsConfiguration.TargetPath)" />
        <File Id="Configuration.xml" Source="$(var.WinGistsConfiguration.TargetDir)Configuration.xml"></File>
        <File Id="MahApps.Metro.dll" Source="$(var.WinGistsConfiguration.TargetDir)MahApps.Metro.dll"></File>
        <File Id="System.Windows.Interactivity.dll"
              Source="$(var.WinGistsConfiguration.TargetDir)System.Windows.Interactivity.dll">
        </File>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="WinGists" Level="1">
      <ComponentRef Id="Application" />
      <ComponentRef Id="StartMenuComponent" />
      <ComponentRef Id="DesktopComponent" />
      <ComponentRef Id="ContextMenuShortcut" />
    </Feature>
  </Product>
</Wix>